[Desktop Entry]
Encoding=UTF-8
Name=StarWM
Comment=StarWM is an extensible, floating and tiling, X window manager for Linux-based operating systems written in Rust. 
Exec=starwm
Type=Application
DesktopNames=starwm